{% extends 'base_auth.html' %}
{% load static %}
 {% block content %}
 <section class="contact-from pt-4">
     <div class="container">
         <div class="row mt-5">
             <div class="col-md-7 mx-auto">
                 <div class="form-wrapper">
                     <div class="row">
                         <div class="col-md-12">
                             <h4>Please Enter Your Email for reset password link</h4>
                         </div>
                         {% for message in messages %}
                         <div class="col-md-12">
                          <div class="alert alert-danger" role="alert">
                                 {{ message}}
                          </div>
                          <br>
                         </div>
                           
                         {% endfor %}
                     </div>

                     <form _lpchecked="1" method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="form-group">
                                     <input type="email" class="form-control"  name="email" id="email" placeholder="Email">
                                 </div>
                                   <div class="invalid-email" style="display:none"></div>
                             </div>
                         <div class="mt-3">
                             <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                         </div>
                     </form>
                        <div class="col-md-12 mt-3">
                            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                        </div>
                 </div>
             </div>
         </div>

     </div>
 </section>

 <script src="{% static 'js/register.js' %}"></script>
 {% endblock %}