[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
gunicorn = "*"
validate-email = "*"
six = "*"
bcrypt = "*"
dj-database-url = "*"
django-smtp-ssl = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
