{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Expense</li>
        </ol>
    </nav>
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-danger" role="alert">
            {{ message}}
            </div>
        {% endfor %}
       
  
    {% endif %}

     <div class="card card-body">
        <form action="{% url 'create-expense' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
            <label class="font-weight-bold ml-1">Amount: </label>
                <input type="number" step="any" placeholder="Enter Amount"   class="form-control"  name="amount" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 my-2">
            <label class="font-weight-bold  ml-1">Description: </label>
                <textarea name="description" class="form-control" placeholder="Any Description(Optional)" id="" cols="60" rows="5"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 my-2">
            <label class="font-weight-bold  ml-1">Category: </label>
               <select class="form-control" name="category" onchange='checkCategory(this.value);'>
                <option selected></option>
                {% for category in categories %}
                    <option value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
                    <option value="others">Others</option>
               
               </select>
               <input type="text" placeholder="enter category" name="category_input" id="category" style='display:none;'/>
            </div>
        </div>

         <div class="row">
            <div class="col-md-6 my-2">
            <label class="font-weight-bold  ml-1">Spend Date: </label>
    
               <input type="date" value={{ current_date|date:"Y-m-d" }} name="date" class="form-control" placeholder="Enter Spend Date(Optional)" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary my-2 px-5">Create</button>
           
            
        </form>
     </div>

     <script>
        function checkCategory(val){
            var element=document.getElementById('category');
            if(val=='others')
                element.style.display='block';
            else  
                element.style.display='none';
        }
     </script>
{% endblock %}