{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'add-expense' %}">Add Expense</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Expense</li>
        </ol>
    </nav>
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-danger" role="alert">
            {{ message}}
            </div>
        {% endfor %}
       
  
    {% endif %}

     <div class="card card-body">
        <form action="{% url 'update-expense' expense.id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
            <label class="font-weight-bold ml-1">Amount: </label>
                <input value={{ expense.amount }} type="number" step="any" placeholder="Enter Amount"   class="form-control"  name="amount" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 my-2">
            <label class="font-weight-bold  ml-1">Description: </label>
                <textarea name="description" class="form-control" placeholder="Any Description(Optional)" id="" cols="60" rows="5">{{expense.description}}</textarea>
            </div>
        </div>

        
      <div class="row">
            <div class="col-md-6">
              <label class="font-weight-bolder ml-1">Expense Date: </label>
                <input type="date" name="spend_date" class="form-control" value="{{expense.spend_date|date:'Y-m-d'}}" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 my-2">
            <label class="font-weight-bold  ml-1">Category: </label>
               <select class="form-control" name="category">
                <option selected>{{expense.category.name}}</option>
                {% for category in categories %}
                    <option value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
                
               </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary my-2 px-5">Update</button>
           
            
        </form>
     </div>
{% endblock %}