{% load static %}
      <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                 

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a href="{% url 'profile' %}" class="btn btn-info mx-2">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'settings' %}" class="btn btn-success mx-2">Settings</a>
                        </li>
                        <li>
                             <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->