{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'income' %}">Income Summary</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
    </nav>
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-danger" role="alert">
            {{ message}}
            </div>
        {% endfor %}
       
  
    {% endif %}


        <form action="{% url 'create-income' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <label class="font-weight-bolder text-dark ml-4 mr-4">Amount: </label>
            <div class="col-md-6 ml-3">
                <input type="number" step="any" placeholder="Enter Amount"   class="form-control"  name="amount" />
            </div>
        </div>

        <div class="form-row my-4">
            <label class="font-weight-bolder text-dark ml-4 mr-3">Description: </label>
            <div class="col-md-6">
                <textarea name="description" class="form-control" placeholder="Any Description" id="" cols="60" rows="5"></textarea>
            </div>
        </div>

        <div class="form-row my-4">
            <label class="font-weight-bolder text-dark ml-4 mr-4">Source: </label>
            <div class="col-md-6 ml-4">
               <select class="form-control" name="source" onchange='checkSource(this.value);'>
                <option selected></option>
                {% for source in sources %}
                    <option value="{{source.name}}">{{source.name}}</option>
                {% endfor %}
                    <option value="others">Others</option>
               
               </select>
               <input type="text" placeholder="Enter Source" name="source_input" id="source_id" class="my-2" style='display:none;'/>
            </div>
        </div>

         <div class="form-row my-4">
            <label class="font-weight-bolder text-dark ml-4 mr-1">Income Date: </label>
            <div class="col-md-6">
               <input type="date" name="date" value="{{time|date:'Y-m-d'}}" class="form-control" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary my-3 ml-4 px-5">Create</button>
           
            
        </form>

     <script>
        function checkSource(val){
            var element=document.getElementById('source_id');
            if(val=='others')
                element.style.display='block';
            else  
                element.style.display='none';
        }
     </script>
{% endblock %}