{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Income</a></li>
            <li class="breadcrumb-item active" aria-current="page">Income Summary</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-4">
            <canvas id="myChart" width="400" height="400"></canvas>         
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <canvas id="pieChart" width="400" height="400"></canvas>
        </div>
    </div>
  
   
<script src="{% static 'js/income-chart.js' %}"></script>
{% endblock %}