
{% extends 'base.html' %}
{% load static %}
{% block content %}


  
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-info" role="alert">
            {{ message}}
            </div>
        {% endfor %}
       
  
    {% endif %}
  
    <div class="row mb-5">
            <h4 class="text-primary  font-weight-bold">Current Currency ({{ currency.currency }})</h4>
             <a href="{% url 'add-income' %}" class="btn btn-primary ml-auto my-2">Add Income</a>
    </div>
     
    <div class="row">
 
     {% if incomes %}

      <h2 class="search-header">Income Info</h2>
            {% include 'snippets/income-search.html' %}
            <div class="table-responsive main-table">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th>Amount</th>
                    <th>Source</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th colspan="2">Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% for income in page_obj %}
                    <tr>
                        <td>${{ income.amount|floatformat:2 }} </td>
                        <td>{{ income.source.name }} </td>
                        <td>{{ income.description }}</td>
                        <td>{{ income.date }}</td>
                        <td><a href="edit-income/{{income.id}}" class="btn btn-success">Edit</a></td>
                        <td><a href="delete-income/{{income.id}}" class="btn btn-danger">Delete</a></td>
                    </tr>
                {% endfor %} 
                </tbody>
              </table>
            </div>
             <div class="row paginator-container">
                <p class="ml-4">Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>

                    {% if page_obj.has_next %}
                   
                            <ul class="pagination pagination-sm" style="margin-left:40px;">
                              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                              <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                            </ul>
                    {% elif page_obj.has_previous %}
                      <ul class="pagination pagination-sm" style="margin-left:40px;">
                       <li class="page-item"><a classhref="?page={{ page_obj.previous_page_number }}">Prev</a></li>="page-link" 
                      </ul>
                    {% endif %}
              </div>
  
    {% endif %}
    </div>


    <script src="{% static 'js/income-search.js' %}"></script>

{% endblock %}