{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
<div class="col-md-12">
  <div class="alert alert-success" role="alert">
    {{ message}}
  </div>
  <br>
</div>

{% endfor %}
<form method="POST" action="{% url 'settings-create' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlSelect2">Select Currencies</label>
    <select name="currency" class="form-control" id="exampleFormControlSelect1">
      <option selected value={{user_prefrence.currency}}>{{ user_prefrence.currency}}</option>
      {% for currency in currency_data%}
         <option value={{currency.name}} - {{currency.value}}>{{currency.name}} --> {{currency.value}}</option>
      {% endfor %}
    </select>
    <input type="submit"  value="Save Changes" class="my-4 btn btn-info form-group">
  </div>
  <form>
    {% endblock%}