{% extends 'base.html' %}
 {% load static %}
  {% block content %} 
    {% if messages%} 
      {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message}}</div>
      {% endfor %}
    {% endif %}

<div class="row mb-5">
  <h4 class="text-primary font-weight-bold">
    Current Currency ({{ currency.currency }})
  </h4>
     <form class=" ml-2 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-dark text-white border-0 small" id="searchField" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
        </div>
    </form>
  <a href="{% url 'expense_export_csv' %}" class="btn btn-info ml-3">Export CSV</a>
  <a href="{% url 'add-expense' %}" class="btn btn-primary ml-auto">Add Expense</a>
</div>
<div class="row">
  {% if expenses %}
    <h2 class="search-header">Expense Info</h2>

  {% include 'snippets/search-table.html' %}
  <div class="table-responsive main-table">
    <table class="table table-bordered table-hover tablesorter">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Category</th>
          <th>Description</th>
          <th>Date</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in page_obj %}
        <tr>
          <td>${{ expense.amount|floatformat:2 }}</td>
          <td>{{ expense.category.name }}</td>
          <td>{{ expense.description }}</td>
          <td>{{ expense.spend_date }}</td>
          <td>
            <a href="edit-expense/{{expense.id}}" class="btn btn-success">Edit</a>
          </td>
          <td>
            <a href="delete-expense/{{expense.id}}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
 {% endif %}
<script src="{% static 'js/search.js' %}"></script>

{% endblock %}